## ETL olist_order_reviews_dataset

In [17]:
import pandas as pd
import numpy as np

In [18]:
#Ingestamos datasets
url='https://raw.githubusercontent.com/ronalcabrera/PG_Olist/main/Datasets/olist_order_reviews_dataset.csv'
reviews=pd.read_csv(url, delimiter=',', encoding='UTF-8')

In [19]:
#reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [20]:
#reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

Casos a tener en cuenta

In [9]:
# En la columna review_comment_title tiene un número en lugar de un título.
#reviews[reviews['review_id']=='14613df954694f243dedeaa2c8a3a5c2']

#En la columna review_comment_message aparecen fechas //  o ///
#reviews[(reviews['review_id']=="7d9de731a6322fddaffbb1626413466a") | (reviews['review_id']=="1f3b2abc10c150806a54ddb7ad99f8de")]

#En la columna review_comment_message un mensaje //// //////... :
#reviews[reviews['review_id']=="7915e960f5094fc36e0103b1592f92ba"]

In [21]:
#Columna review_comment_title

#Reemplazo los NaN por 'Sin Dato'
reviews['review_comment_title'] = reviews['review_comment_title'].replace(np.nan,'Sin Dato')
#Reemplazo los saltos de lineas por ' ' 
reviews['review_comment_title'] = reviews['review_comment_title'].str.replace('\n',' ')
#Remplezo en los mensajes que inician con el o finalizan con "
reviews['review_comment_title'] = reviews['review_comment_title'].str.replace('"','')

In [22]:
# Columna review_comment_message
#Reemplazo los NaN por 'Sin Dato'
reviews['review_comment_message'] = reviews['review_comment_message'].replace(np.nan,'Sin Dato')
#Reemplazo los saltos de linea por ' '
reviews['review_comment_message'] = reviews['review_comment_message'].str.replace('\n',' ')
#
reviews['review_comment_message'] = reviews['review_comment_message'].str.replace('"','')

In [45]:
#reviews.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [23]:
#Columna review_creation_date
#Al hacer este cambio de tipo de dato, la hora se sacará porque todas son 00

# Cambio tipo de dato : de 'object' a 'datetime64'
reviews['review_creation_date']=reviews['review_creation_date'].astype('datetime64')

In [24]:
#Columna  review_answer_timestamp

# Cambio tipo de dato : de 'object' a 'datetime64'
reviews['review_answer_timestamp']=reviews['review_answer_timestamp'].astype('datetime64')

In [25]:
#reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     99224 non-null  object
 4   review_comment_message   99224 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [26]:
#Creamos el dataset limpio, que se guardará en la carpeta Datasets_procesados
reviews.to_csv('../Datasets_procesado/order_reviews.csv')