Extracción

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pedidos_elementos = pd.read_csv(".\Datasets\olist_order_items_dataset.csv",delimiter = ',',encoding = "utf-8")

In [3]:
df_pedidos_elementos.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
23583,35c2decdf1241aa585186aa82df2f768,2,052413504e5295cd66ec4ced0b310062,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-19 15:31:19,179.0,19.13
69857,9f6c2a2b1cf39bcea618bba4db493cb2,1,e29f2f8197f332ab172ad9ea6566853d,e9bc59e7b60fc3063eb2290deda4cced,2017-11-21 15:30:46,98.9,15.44
69849,9f68f87aaf72589c361305b9d4900b78,1,5fb1e24560c31b0eaa1911d4247187ed,e0878efa0e0b7e5313ac0b43bc04c081,2017-11-10 19:34:24,299.0,18.53
21882,31f8013402a0749b3ab433b1aee11754,1,b7d4874bd1f4dcf0d73abaaee0bff5f6,845e8036c3f7bf62099352f5ed910240,2018-08-20 03:25:31,26.9,15.29
82294,bb0165d4e039c23561d22f29114b65a6,1,fe75529a267b76ac6e96f0c322a899a4,620c87c171fb2a6dd6e8bb4dec959fc6,2018-06-15 10:58:56,119.9,37.53

Este dataset parece mas el detalle de cada orden (una tabla intermedia)

- order_id = id del pedido

- Determinar diferencias entre id de item y id de product

- shipping limit date = fecha limite de envío

- freight_value = valor del flete

In [7]:
df_pedidos_elementos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [4]:
# Verificamos cantidad de nulos por columna (no hay nulos)

df_pedidos_elementos.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Podemos determinar que esta tabla es una tabla intermedia que detalla la informacion de cada pedido (order).

In [20]:
# Encontrar outliers
def find_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (3 * iqr)
    upper_bound = q3 + (3 * iqr)
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [22]:
outliers = find_outliers(df_pedidos_elementos, 'freight_value')
outliers

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
73,002b430ff89b3a24c31a1170acbbedea,1,cc47c0863559499f01b4cad750929d10,7a67c85e85bb2ce8582c35f2203ad736,2017-06-26 22:10:14,199.99,65.56
83,0030ff924c38549807645976adeef2c0,1,bd7cab8de4d7943286634023cc06f8ff,855668e0971d4dfd7bef1b6a4133b41b,2018-04-06 17:10:21,225.00,67.24
98,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04
110,003edccf16bc5ec447f592913b3df2b4,1,500870614ddcf5bd84f7d26861026c8a,ef506c96320abeedfb894c34db06f478,2018-07-12 10:15:21,14.00,50.85
...,...,...,...,...,...,...,...
112472,ff96d596c25445650eee60b94fa62244,1,f7b30f48c235d715e00822023d8a4dce,7238a95bb63ef7e498389fb863b834a1,2018-05-04 13:50:07,329.00,127.55
112553,ffc2638415f3ce34e88641eef792c1fc,1,bc2d6310e5cbd60facb2f9c8d9471597,dc317f341ab0e22f39acbd9dbf9b4a1f,2017-06-12 13:41:58,629.00,67.08
112613,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.90,51.20
112634,fff8287bbae429a99bb7e8c21d151c41,1,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14

KPIs:

- Disminuir-optimizar fecha limite de envio.
- Analizar valores de flete altos para intentar disminuir su costo.