Extracción

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/ronalcabrera/PG_Olist/main/Datasets/olist_order_items_dataset.csv'

df_pedidos_elementos = pd.read_csv(url, delimiter=',', encoding='UTF-8')

In [3]:
df_pedidos_elementos.sample(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
16717,26449e55a87a5c565d60238999c380ff,1,1fb5b722c7edef5967d921c3ea7511b7,725c32fa80c2faacc4fc88450d27314e,2018-04-26 18:30:46,79.99,11.18
88749,c996784e13c7d956e06ad7f8a992b564,1,3006b8f5b476750a03137c1b2755cea1,06e5eefc71ec47ae763c5c6f8db7064f,2018-08-09 16:05:26,126.12,19.99
49121,6f954a919130aa1e8def4ed1b9fca432,1,84bfcd3c1a4f15e9bd5867a775e232d9,116ccb1a1604bc88e4d234a8c23f33de,2018-08-02 03:50:25,13.30,8.88
102943,e9cab75516e866c8b7aba5ab87a7024b,1,e282624d8c82e04983f125e167eb4521,ea8482cd71df3c1969d7b9473ff13abc,2017-08-31 11:05:36,17.99,14.10
33148,4b21c757f8c1a51d41c1653e15d8f289,1,417e213344336988e562ccc3975987f4,40d54b51e962dbe09cabbcfd33298dee,2018-04-05 13:55:20,262.39,12.46

Este dataset parece mas el detalle de cada orden (una tabla intermedia)

- order_id = id del pedido

- Determinar diferencias entre id de item y id de product

- shipping limit date = fecha limite de envío

- freight_value = valor del flete

In [4]:
df_pedidos_elementos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [5]:
# Verificamos cantidad de nulos por columna (no hay nulos)

df_pedidos_elementos.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Podemos determinar que esta tabla es una tabla intermedia que detalla la informacion de cada pedido (order).

In [6]:
# Encontrar outliers
def find_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (3 * iqr)
    upper_bound = q3 + (3 * iqr)
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

In [7]:
outliers = find_outliers(df_pedidos_elementos, 'freight_value')
outliers

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
73,002b430ff89b3a24c31a1170acbbedea,1,cc47c0863559499f01b4cad750929d10,7a67c85e85bb2ce8582c35f2203ad736,2017-06-26 22:10:14,199.99,65.56
83,0030ff924c38549807645976adeef2c0,1,bd7cab8de4d7943286634023cc06f8ff,855668e0971d4dfd7bef1b6a4133b41b,2018-04-06 17:10:21,225.00,67.24
98,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04
110,003edccf16bc5ec447f592913b3df2b4,1,500870614ddcf5bd84f7d26861026c8a,ef506c96320abeedfb894c34db06f478,2018-07-12 10:15:21,14.00,50.85
...,...,...,...,...,...,...,...
112472,ff96d596c25445650eee60b94fa62244,1,f7b30f48c235d715e00822023d8a4dce,7238a95bb63ef7e498389fb863b834a1,2018-05-04 13:50:07,329.00,127.55
112553,ffc2638415f3ce34e88641eef792c1fc,1,bc2d6310e5cbd60facb2f9c8d9471597,dc317f341ab0e22f39acbd9dbf9b4a1f,2017-06-12 13:41:58,629.00,67.08
112613,ffebd80e3291e811c308365936897efd,1,4cc4d02efc8f249c13355147fb44e34d,d1c7fa84e48cfa21a0e595167c1c500e,2018-07-18 20:23:55,129.90,51.20
112634,fff8287bbae429a99bb7e8c21d151c41,1,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14

KPIs:

- Disminuir-optimizar fecha limite de envio.
- Analizar valores de flete altos para intentar disminuir su costo.